.input-div {
    position: relative;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 2px solid #0077ff;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    box-shadow: 0px 0px 50px #0077ff, inset 0px 0px 10px #0077ff, 0px 0px 5px rgb(255, 255, 255);
    animation: float 3s ease-in-out infinite;
}

.icon {
    color: #0077ff;
    font-size: 2rem;
    cursor: pointer;
}

@keyframes float {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px);
    }
}